## gitignore file
*.swp
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.doc
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.xml
*.fls
*.fdb_latexmk
*pk
*.DS_Store
*.directory
